body{
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#navbar a{
    color: white;
    text-decoration: none;
}

a{
    text-decoration: none;
}

hr{
    border: none;
    height: 1px;
    background-color: #d5d5da;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#navbar{
    display: flex;
    background: rgba(0, 0, 0, .8);
    justify-content: space-between;
    padding: 0 20px;
    top: 0;
    height: 56px;
    /*  */
    align-items: center;
    /*  */
    border-bottom: 1px solid rgb(17, 17, 17);
    box-shadow: 0 -1px 2px #eee;
}

.nav-search{
    display: flex;
    width: 60%;
    margin: 0 auto;
}

#menu{
    display: flex;
}

/* .dropdown{
    position: relative;
}

.dropdown ul{
    display: none;
    position: absolute;
    width: 100%;
    top: 28px;
    background: rgba(0, 0, 0, .8);
} */

.nav-widget{
    display: flex;
    align-items: center;
}

.nav-widget img{
    height: 35px;
    width: 35px;
    object-fit: cover;
    border-radius: 100%;
    align-items: center;
}

.li{
    padding: 10px 20px 10px 0;
    cursor: pointer;
}

/* .dropdown ul a li{
    padding: 10px 0px;
}

.dropdown li:hover{
    background: white;
    color: rgba(0, 0, 0, .8);
}

.open ul{
    display: block !important;
} */

.icon{
    display: flex;
    height: 40px;
}

/* .icon p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(255, 217, 0);
    font-size: 55px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
} */

/* .icon img{
    width: 160px;
    height: inherit;
    object-fit: contain;
} */

#search{
    display: flex;
    height: 40px;
    width: 100%;
    margin: 0 10px;
}

.search-box{
    outline: none;
    border: none;
    border: 1px solid rgb(12, 12, 12);
    border-style: solid none solid solid;
    padding: 2px 0 0 16px;
    width: 100%;
    color: gray;
    border-radius: 50px 0 0 50px;
    font-family: 'Roboto','Noto',sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    background-color: rgb(31, 31, 31);
    -webkit-font-smoothing: antialiased;
}

/* ::-webkit-input-placeholder {
    text-align: center;
} */

.search-btn{
    border: none;
    width: 64px;
    background-color: rgb(31, 31, 31);
    border: 1px solid rgb(17, 17, 17);
    border-style: solid solid solid none;
    border-radius: 0 50px 50px 0;
    cursor: pointer;
    padding: 1px 6px 0 0;
}
  
.bi:hover{
    fill: white;
}

/*  */

/*  */

#header{
    height: 650px;
    text-align: center;
    color: white;
    background-attachment: fixed;
    background: url(https://xd.adobe.com/ideas/wp-content/uploads/2020/09/Being-Shady-How-to-Use-Gradient-Color-in-UX-Design-1-1100x550.jpeg), rgba(0, 0, 0, .4);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    position: relative;
}

#header div{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#header div form{
    display: flex;
}
#header div img{
    margin-bottom: 50px;
    width: 300px;
}

#header div form input{
    border: none;
    border-radius: calc(0.5 * var(--ntp-realbox-height));
    width: 100%;
    margin: 0 auto;
    width: 500px;
    height: 40px;
    border-radius: 50px;
    padding: 0 16px;
    outline: none;
    font-size: 17px;
}

/* #header form button{
    height: 40px;
    border-radius: 0 50px 50px 0;
    border: none;
    background: white;
    padding-right: 16px;
    cursor: pointer;
} */

#main{
    display: flex;
    justify-content: space-between;
}

#content{
    width: 60%;
    padding: 20px;
}

#content h1{
    text-align: center;
    font-size: 50px;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product{
    width: 40%;
    margin: 10px 0;
    text-align: center;
    transform: all 300ms;
    /* border: 5px solid transparent; */
}
/* 
.product:hover{
    border: 5px solid #2269ee;
} */

.product h2{
    font-weight: 500;
}

.product h3{
    margin: 0;
    font-size: 35px;
    font-weight: 500;
}

.product img{
    width: 100%;
    object-fit: contain;
}

.product h3{
    margin: 0;
}

#sidebar{
    width: 20%;
}

.btn{
    background: #0264e6;
    border: none;
    height: 29px;
    width: 44px;
    border-radius: 20px;
    color: white;
    font-size: 13px;
    font-weight: 100;
    cursor: pointer;
}

.btn:hover{
    background: #026aef;
}

.column{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 600px;
    justify-content: space-between;
    padding: 20px;
}

.article{
    height: 100%;
    width: 59%;
    border-radius: 20px;
    background: url('https://i.pinimg.com/originals/11/6c/86/116c86c21b2f6f2b571912dc551d27f2.jpg'), rgba(0, 0, 0, .2);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    transition: all 1s;

}

.article-mini{
    height: 49%;
    width: 39%;
    border-radius: 20px;
    background: url('https://images.macrumors.com/t/yDYBGx5NgFyXqAyaVbqdP2VsSJ8=/1600x0/article-new/2021/04/m2-feature-purple.jpg'), rgba(0, 0, 0, .2);
    background-blend-mode: multiply;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    transition: all 1s;

}

.article-mini-1{
    height: 49%;
    width: 39%;
    border-radius: 20px;
    background: url('https://os-wordpress-media.s3.ap-south-1.amazonaws.com/blog/wp-content/uploads/2022/01/27151811/macOS-12.2-update.jpeg'), rgba(0, 0, 0, .2);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    transition: all 1s;
}

.article h2{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    color: white;
    font-size: 70px;
    display: none;
    transition: all 1s;

}

.article-mini h2{
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    color: white;
    font-size: 60px;
    display: none;
    text-align: center;
    transition: all 1s;
}

.article-mini-1 h2{
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    color: white;
    font-size: 60px;
    display: none;
    text-align: center;
    transition: all 1s;
}

.article:hover, .article-mini:hover, .article-mini-1:hover{
    background-color: rgba(0, 0, 0, .7);
    transition: all 300ms;
}

.article:hover h2, .article-mini:hover h2, .article-mini-1:hover h2{
    display: block;
    transition: all 300ms;
}

.side-widget{
    width: 90%;
    margin: 10px auto;
    padding: 10px;
    /* border: 1px solid #2269ee; */
}

.widget{
    background: #0264e6;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 10px;
}

.widget h3{
    text-align: center;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 400;
    color: white;
    margin: auto 0;
}

.side-widget a li{
    margin-top: 10px;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 15px;
    font-size: 20px;
    color: black;
}

.side-widget a li:hover{
    /* border: 2px solid rgb(223, 223, 223); */
    background: #0264e6;
    color: white;
    border-radius: 15px;
    font-size: 23px;
    padding: 8px;
}

.lm{
    font-weight: 300;
    font-size: 14px;
    color: #186bd3;
}

.lm:hover{
    text-decoration: underline;
}

.login{
    text-align: center;
}

.login input{
    border-radius: 10px;
    border: 1px solid #d5d5da;
    height: 30px;
    padding: 0 15px;
    font-size: 15px;
}

.log-btn{
    width: 83%;
    border-radius: 10px;
    height: 30px;
    padding: 2px 0 0 0;
    font-size: 15px;
    background: #0264e6;
    color: white;
    border: none;
    transition: all 300ms;
}

.log-btn:hover{
    background: #026aef;
    font-size: 16px;
    transition: all 300ms;
}

.sign-btn{
    width: 83%;
    border-radius: 10px;
    height: 30px;
    padding: 2px 0 0 0;
    font-size: 15px;
    background: #e1e8ea;
    color: black;
    border: none;
    transition: all 300ms;
}

.sign-btn:hover{
    background: rgb(237, 240, 241);
    font-size: 16px;
    transition: all 300ms;
}

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
}

.strike > span {
    position: relative;
    display: inline-block;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: #d5d5da;
}

.strike > span:before {
    right: 100%;
    margin-right: 5px;
}

.strike > span:after {
    left: 100%;
    margin-left: 5px;
}

.popular img{
    width: 100%;
    border-radius: 15px;
}

.title{
    font-size: 25px;
    margin: 0;
}

.popular-text p{
    text-align: center;

}

.best-seller{
    display: flex;
    justify-content: space-around;
}

.best-seller img{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    margin: auto 0;
}

.seller-name h2{
    font-weight: 300;
}

.medal{
    background: #1e7cf7;
    color: white;
    border-radius: 15px;
    padding: 5px;
    animation: medal 1s infinite;
}

#pre-footer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.pre-widget{
    width: 20%;
    padding: 10px;
    border-radius: 15px;
}

.site-map a li{
    padding: 10px 0;
    color: black;
    font-size: 17px;
}

.site-map a li:hover{
    color: #0264e6;
}

.d-info li{
    padding: 10px 0;
    font-size: 15px;
    color: black;
}

#footer{
    background: rgba(0, 0, 0, .8);
}

.developed-by{
    color: white;
    text-align: center;
    padding: 2px;
}

.developed-by a{
    color: red;
}

#menu .phone{
    display: none;
}

/*  */
/*  */
/*  */
@keyframes medal{
    form{
        background: #1e7cf7;
        box-shadow: 0 0 3px 0 #0264e6;
    }
    50%{
        background: #0264e6;
        box-shadow: 0 0 3px 5px #0264e6;
    }
    to{
        background: #1e7cf7;
        box-shadow: 0 0 3px 0 #0264e6;
    }
}

@media screen and (max-width: 970px){
    .phone{
        display: none;   
    }
    
    #main{
        flex-wrap: wrap;
    }

    #content{
        width: 100%;
        order: 1;
    }

    #sidebar{
        width: 100%;
    }

    .p-sidebar{
        order: 2;
    }

    .pre-widget{
        width: 100% !important;
    }
    .column{
        height: 200px;
    }
    .article-mini{
        background-size: cover;
    }
    #navbar{
        justify-content: center;
    }
    .comp{
        display: none;
    }
    #menu .phone{
        display: block;
        margin-right: 20px;
    }
    #header div form input{
        width: 270px;
    }
    #header div img{
        width: 200px;
    }
    .article-mini h2{
        top: 35%;
    }
    .article-mini-1{
        background: url('https://www.apple.com/v/macbook-pro-13/j/images/meta/macbook-pro-13_overview__bcsyunk73i2a_og.jpg?202111211045');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    .article-mini-1 h2{
        top: 39%;
        font-size: 45px;
    }
    .article-mini h2{
        font-size: 55px;
    }
    .article h2{
        top: 35%;
        font-size: 55px;
    } 
    .product{
        width: 100%;
    }
    .column{
        height: auto;
    }
    .article, .article-mini, .article-mini-1{
        height: 300px;
        width: 100%;
        margin: 10px 0;
        background-color: rgba(0, 0, 0, .7);
    }
    .article h2, .article-mini h2, .article-mini-1 h2{
        display: block;
    }
    .article:hover, .article-mini:hover, .article-mini-1:hover{
        background-color: rgba(0, 0, 0, 0);
    }
    .article:hover h2, .article-mini:hover h2, .article-mini-1:hover h2{
        display: none;
    }
}